# Dependencies
node_modules
.pnpm-store

# Builds
dist
.next
.next-dev
out
.turbo

# Environment files
.env
.env.local
.env.*.local
.env.deploy
!.env.example
!.env.deploy.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
.logs/

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Coverage
coverage

# Prisma
prisma/migrations/**/migration_lock.toml
